AddHandler application/x-httpd-php82 .php
AddType application/x-httpd-php .php
# Protect API config; allow PHP scripts
<Files "config.php">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
  </IfModule>
</Files>
Options -Indexes
